.DS_Store
.gafst_venv/
__pycache__/
/media/
.vscode/
.idea
Lib/


Lib/python3.10/
core/migrations
locale/
production_staticfiles/
Scripts/
share/

bin/pip
bin/pip3
bin/pip3.8
bin/pip3.10
bin/pycodestyle
bin/pyflakes
bin/python
bin/python3
bin/python3.10
bin/sqlformat
bin/tox
bin/virtualenv
bin/activate
bin/activate.csh
bin/activate.fish
bin/Activate.ps1
bin/black
bin/blackd
bin/chardetect
bin/coverage
bin/coverage-3.10
bin/coverage3
bin/django-admin
bin/easy_install
bin/easy_install-3.8
