<div class="input-border" style="height: calc(24px * 4); overflow-y: auto;">
    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% if group_name %}
            <optgroup label="{{ group_name }}">
        {% endif %}

        {% for option in group_choices %}
            {% with widget=option %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ widget.value }}" id="{{ widget.name }}-{{ widget.value }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} {% if widget.selected %}checked{% endif %}>
                    <label class="form-check-label" for="{{ widget.name }}-{{ widget.value }}">{{ widget.label }}</label>
                </div>
            {% endwith %}
        {% endfor %}

        {% if group_name %}
            </optgroup>
        {% endif %}

    {% endfor %}
</div>