{% extends 'datatable/structure/create_form.html' %}
{% load widget_tweaks %}

{% block fields %}
    {% with WIDGET_ERROR_CLASS='is-invalid' %}

        {% include "datatable/structure/input_field.html" with field=form.name css_classes="form-control" input_placeholder="Bellinzona" container_ccs_classes="col-12 col-lg-6" %}

        {% include "datatable/structure/input_field.html" with field=form.license_no css_classes="form-control h-25" input_placeholder="01-000" container_ccs_classes="col-12 col-lg-6" %}

        {% include "datatable/structure/input_field.html" with field=form.affiliation_year css_classes="form-control h-25" input_placeholder="2017" container_ccs_classes="col-12 col-lg-6" %}
    {% endwith %}
{% endblock fields %}
