{% extends 'datatable/structure/detail_form.html' %}
{% load widget_tweaks %}

{% block fields %}
    {% with WIDGET_ERROR_CLASS='is-invalid' %}

        {% include "datatable/structure/input_field.html" with field=form.competition css_classes="form-control h-25" container_ccs_classes="col-12 col-lg-6" %}

        {% include "datatable/structure/input_field.html" with field=form.team css_classes="form-control h-25" container_ccs_classes="col-12 col-lg-6" %}

        {% include "datatable/structure/input_field.html" with field=form.club css_classes="form-control h-25" container_ccs_classes="col-12 col-lg-6" %}

        {% include "datatable/structure/input_field.html" with field=form.status css_classes="form-control h-25" container_ccs_classes="col-12 col-lg-6" %}

    {% endwith %}
{% endblock fields %}
